@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&family=Sarabun:wght@200;300&display=swap');

body, button {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-family: 'Sarabun', sans-serif;
}

.score {
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 15px;
}
